<ion-item *ngFor="let article of articles; index as newIndex">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >{{ newIndex + 1 }} - {{ article.source.name }}</ion-card-subtitle
      >
      <ion-card-title>{{ article.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="article.urlToImage"></ion-img>
      <p>{{ article.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-item>
