@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


/*Tipografia*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
}


.logo{
    margin-left: 15%;
}


#activo{
    color: rgb(255, 115, 0) !important;
}

.nav-link{
    color: black !important;
}

/*Scroll Horizontal*/
.horizontal-scroll-contenedor{
    width: auto;
    height: 85px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    background: #F0F0F0;
    white-space: nowrap;
}

.horizontal-scroll-contenedor > a {
    width: auto;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    background:linear-gradient(red, gold) !important;
    border-color: red !important;
    display: inline-block;
    text-align: center;
    color: #FFF;
    line-height: 50px;
}

/*Titulo apartado*/
hr{
    width: 80%;
    background-color: black !important;
}

.entreLinias{
    margin-top: 85px;
}

.tituloEntreLinias{
    display: flex;
    justify-content: center;
}

/*Listado*/
.cajas{
    width: 300px;
    margin: 20px;
    height: auto;
    background:linear-gradient(red, gold) !important;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    float: left;
}
 .con-cajas{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.imgProducto{
    width: 300px;
    height: 180px;
}