@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*Tipografia*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
}


.logo{
    margin-left: 50%;
}

#activo{
    color: red !important;
}

.nav-link{
    color: black !important;
}