@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


/*Tipografia*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
}
figcaption{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}

.logo{
    margin-left: 15%;
}

#carouselExampleCaptions{
    border: solid black 3px;
}

#activo{
    color: rgb(255, 115, 0) !important;
}

.nav-link{
    color: black !important;
}

.d-block{
    height: 300px;
}

.slogan{
    margin: 9%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Botones*/
.botonSlogan{
    display: flex;
    justify-content: space-evenly;
}
.verMas{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.btn{
    background:linear-gradient(red, gold) !important;
    border-color: red !important;
}
.btnDescarga{
    width: 500px !important;
}
.divBotonDescarga{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*Titulo apartado*/
hr{
    width: 60%;
    background-color: black !important;
}

.entreLinias{
    margin-top: 85px;
}

.tituloEntreLinias{
    display: flex;
    justify-content: center;
}

/*Wrapper*/
.wrapper{
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
}

/*footer*/
footer{
    background-color: black !important;
    color: white !important;
    margin-top: 80px;
}
footer a{
    color: rgb(255, 115, 0) !important;  
}

/*Media Screen*/

@media screen and (min-width: 700px){
    .wrapper{
        grid-template-columns: 250px 250px;
    }
    .imgWrapper{
        margin: 10%;
    }
    figure img{
        height: 180px;
    }
    .d-block{
        height: 400px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
    .verMas{
        margin-right: 80px;
    }
    a.btn{
        width: 200px;
    }
    .slogan{
        text-align: center;
    }
}

@media screen and (min-width: 1000px){
    
    .wrapper{
        grid-template-columns: 250px 250px 250px 250px;
    }

    .d-block{
        height: 600px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
    
    /*hovers*/

    a:hover{
    color: rgb(255, 115, 0) !important;
    }
    a.btn:hover{
        color: black !important;
    }
}

@media screen and (min-width: 1300px){
    .d-block{
        height: 700px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
    a.btn{
        width: 300px;
    }
}

@media screen and (min-width: 1500px){
    .d-block{
        height: 800px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
    .verMas{
        margin-right: 20%;
    }
}

@media screen and (min-width: 1700px){
    .d-block{
        height: 862px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
}

