@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*Tipografia*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.logo{
    margin-left: 15%;
}

#activo{
    color: rgb(255, 115, 0) !important;
}

.nav-link{
    color: black !important;
}
.reservaImg{
 width: 100%;
 border: 3px black solid;
}
.formulario{
    width: 85%;
    margin: 7.5%;
}
.btn{
    background:linear-gradient(red, gold) !important;
    border-color: red !important;
    color: white; 
    width: 200px; 
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-top: 8%;
}

/*footer*/
footer{
    background-color: black !important;
    color: white !important;
    margin-top: 80px;
}
footer a{
    color: rgb(255, 115, 0) !important;  
}

@media screen and (min-width: 1000px){

    a:hover{
        color: rgb(255, 115, 0) !important;
    }
    .btn :hover{
        color: black !important;
    }
}