<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='back()'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id='map' style='width:100%; height: 100%;'></div>
  

</ion-content>
