<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Carta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
