<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let qr of guardados">
      <ion-label  (click)="abrirRegistro(qr)">
        <ion-icon slot="start" name={{qr.icon}} style='font-size: 3rem;'></ion-icon>
      <h1>{{qr.text}}</h1>

      </ion-label>

    </ion-item>

    <ion-button (click)="enviarCorreo()" style="margin-left: 80px;">Envia un correo</ion-button>
  </ion-list>

</ion-content>
