<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-button size="large" color="primary" shape="round" (click)="scan()" class="scanner">SCAN</ion-button>

</ion-content>
