<app-header title="RESERVA" [menu]="true"></app-header>

<ion-content>
    <ion-item>
        <ion-label>ELIGE MESA</ion-label>
        <ion-select cancelText="SALIR" okText="CONTINUAR">
          <ion-select-option value="ex">Exterior</ion-select-option>
          <ion-select-option value="in">Interior</ion-select-option>
          <ion-select-option value="pl">Para Llevar</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>PERSONAS</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

</ion-content>
