@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*Tipografia*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: italic;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
}
.entreLinias{
    margin-top: 35px;
}

.tituloEntreLinias{
    display: flex;
    justify-content: center;
}
hr{
    width: 60%;
    background-color: black !important;
}

/*Imagenes*/
.logo{
    margin-left: 15%;
}

.fotoUnete{
    width: 100%;
    height: auto;
}


/*NavBar*/
#activo{
    color: rgb(255, 115, 0) !important;
}

.nav-link{
    color: black !important;
}
.imgUnete{
    border: 3px black solid;
}


/*Empleados wrapper*/

.wrapper{
    display: flex;
    justify-content: center;
  }
.imgE {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 150px;
    background-size: 450px;
    background-position: center;    
}
.imgE img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3px;
}
.imgE p{
    display: flex;
    text-align: center;
}

/*footer*/
footer{
    background-color: black !important;
    color: white !important;
    margin-top: 80px;
}

footer a{
    color: rgb(255, 115, 0) !important;
}



/*Media Screen*/

@media screen and (min-width: 700px){
    .wrapper{
        flex-direction: column;
        
    }
}

@media screen and (min-width: 1000px){
    
    .wrapper{
        grid-template-columns: 250px 250px 250px 250px;
    }

    .d-block{
        height: 600px !important;
    }
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.74);
    }
    
    /*hovers*/

    a:hover{
        color: rgb(255, 115, 0) !important;
}
}