<app-header title="CARTA" [menu]="true"></app-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CARTA</ion-title>
    </ion-toolbar>
  </ion-header>

  


  <ion-content>

    <h2>TODOS LOS PRODUCTOS</h2>
    
      <ion-list *ngFor="let producto of productos">
        <div class="cadaProducto">

        <ion-item>
          <ion-avatar>
            <img [src]="producto.imagen" />
          </ion-avatar>
          <ion-label> {{producto.nombre}} </ion-label>
          <p>{{producto.precio}}</p>
        </ion-item>

      </div>

      </ion-list>

      <ion-fab class="botonPlus" vertical="bottom" horizontal="end" slot="fixed" (click)="anadirNuevaMoto()">
        <ion-fab-button>
          <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    
    
  </ion-content>

</ion-content>
