<app-header title="SAN PIÑA" [menu]="true"></app-header>


  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>

        <img src="../../../assets/icon/menuNovetat.png">

      </ion-slide>
      <ion-slide>

        <img src="../../../assets/icon/batidos.png">


      </ion-slide>
      <ion-slide>

        <img src="../../../assets/icon/patatasNovedad (1).png">

      </ion-slide>
    </ion-slides>

    <ion-button icon-start routerLink="../reserva" routerDirection="forward" expand="block" shape="round">
      <ion-icon name="restaurant-outline"></ion-icon>
      <p>Hacer Reserva</p>
    </ion-button>

    <ion-button icon-start routerLink="../tab2" routerDirection="forward" expand="block" shape="round">
      <ion-icon name="receipt-outline"></ion-icon>
      <p>Hacer Pedido</p>
    </ion-button>


    <ion-item>
      <h2>San Piña. ¡Un restaurante seguro y hermoso en un mundo inseguro y horroroso!</h2>
    </ion-item>

    <ion-item>
      <h2>MAPA DE LOCALES SAN PIÑA:</h2>
    </ion-item>

  </ion-content>
