@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');

ion-slides {
    height: 35%;
  }

ion-button{
  margin-top: 20px;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-style: italic;
}

p{
  margin-left: 10px;
}